[submodule "cmake/modules"]
	path = cmake/modules
	url = https://github.com/magiruuvelvet/shared-cmake-modules.git
[submodule "libs/cryptopp/cryptopp"]
	path = libs/cryptopp/cryptopp
	url = https://github.com/weidai11/cryptopp.git
[submodule "libs/bandit"]
	path = libs/bandit
	url = https://github.com/banditcpp/bandit.git
[submodule "libs/cereal"]
	path = libs/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "libs/qr-code-generator"]
	path = libs/qr-code-generator
	url = https://github.com/nayuki/QR-Code-generator.git
